<div class="card mb-3" style="max-width: 540px;" *ngFor="let follower of followers">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="img-thumbnail border-0 rounded-circle" src="{{follower.avatar_url}}" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">
          <a [routerLink]="['/profile', follower.id]" [queryParams]="{page:0,order:'newest'}">{{follower.login}}</a>
        </h4>
        <p class="card-link">{{follower.html_url}}</p>
      </div>
    </div>
  </div>
</div>